<div style="margin:100px;color:maroon;font-family:'Times New Roman', Times, serif;">
  <h1><fa-icon [icon]="admin"></fa-icon> Welcome Admin to the Dashboard</h1>
  <br><br><br>


<!--
    <div style="background-color: black;color:white;width:50%">
      <h3>Total Cities : {{cityArr[0].count}}</h3>
    </div>
    <br>
    <div style="background-color: black;color:white;width:50%">
      <h3>Total Areas : {{areaArr[0].count}}</h3>
    </div>

    <br>
    <div style="background-color: black;color:white;width:50%">
      <h3>Total User : {{userArr[0].count}}</h3>
    </div>

    <br>
    <div style="background-color: black;color:white;width:50%">
      <h3>Total Properties : {{propArr[0].count}}</h3>
    </div>
    <br>
    <div style="background-color: black;color:white;width:50%">
      <h3>Total Inquiries : {{inqArr[0].count}}</h3>
    </div>

 -->


</div>

