
<div style="display:flex;">
  <div>
<nav style="width: 150px;" class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="home"><fa-icon [icon]="home"></fa-icon>
          Home</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropend" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Property
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="view-property">View Property</a>
          <a class="dropdown-item" routerLink="add-property">Add Property</a>
        </div>
       </li> -->
     <li class="nav-item active">
        <a class="nav-link" routerLink="view-property"><fa-icon [icon]="building"></fa-icon>View Property</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="add-location"><fa-icon [icon]="add"></fa-icon>Add City/Area</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="view-inquiry"><fa-icon [icon]="msg"></fa-icon>View Inquiries</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="view-users"><fa-icon [icon]="users"></fa-icon>View Users</a>
      </li>

    </ul>

  </div>

</nav>
</div>
<div style="margin-left: 60px;margin-top: -80px;">
<router-outlet></router-outlet>
</div>
</div>
