textarea {
  resize: none;
}

*{

  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
}
.divv{
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn{
  width: 100px;
}
img{
  width:100%
}
strong{
  color:blueviolet;
}
.card,.list-group-item,textarea{
  background-color: rgb(245, 247, 236);
}
textarea:enabled{
  background-color: rgb(245, 247, 236);
}
