<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <h2> <img src="/assets/logo2.png" width="60" height="60" class="d-inline-block align-top" alt="">
     Dream Property </h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="category">Category</a>
      </li>

      <li class="nav-item" *ngIf="!authenticated">
        <a class="nav-link" routerLink="auth">Login</a>
      </li>

      <li class="nav-item" *ngIf="authenticated">
        <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>
</nav> -->
<!-- <h5 style="color:purple">{{message}} </h5> -->

<app-navbar></app-navbar>
<router-outlet> </router-outlet>
<app-footer></app-footer>
